<div class="row">
  <div class="col-md d-flex justify-content-center">
    <h1>{{name}} {{err}} in Marvel Universe?</h1>
  </div>
</div>
<div class="row">
  <div class="col-md d-flex justify-content-center">
    <form action="/" method="get">
      <button type="submit" class="btn btn-warning">Try Your Luck Again</button>
    </form>
  </div>
</div>
<footer>Data provided by Marvel. © 2020 MARVEL</footer>
